.v-radio{
  .v-label{
    margin: 0!important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 138.19% !important;
    color: #5C6166 !important;
  }
}